<!-- This will eventually be a popup accessible by admins from the 'projects' template. 
  TODO:
    Integrate with Database
    Revise & Simplify Stylization
-->
<template name="editProject">
  <div class="modal fade" id="editProjectModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Update Project</h4>
        </div>

        <div class="modal-body">
          <div style="padding-bottom: 10px;">
            <div>
              <label>Project Name:</label>
                <input type="text" id="projectName" placeholder="Project Name" />
                <br />
            </div>
            <div>
              <label>Supervisor Name:</label>
                <select id="supervisor">
                  {{#each user in users}}
                    {{#if isSupervisor user.profile.position}}
                      <option value="{{user._id}}">{{user.profile.firstName}} {{user.profile.lastName}}</option>
                    {{/if}}
                  {{/each}}
                </select>
                <br />
            </div>
            <div>
              <label>Client Name:</label> 
                <input type="text" id="client" placeholder="Client Name" />
                <br />
            </div>
            <div>
              <label>Budget:</label> 
                <input type="number" id="budget" placeholder="Budget" />
                <br />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="button" id="back" value="Cancel">
          <input type="reset" id="clear" value="Clear">
          <input type="submit" id="submit" value="Add New Project">
        </div>

      </div>
    </div>
  </div>
</template>