<!-- This will eventually be a popup accessible by admins from the 'projects' template. 
  TODO:
    Integrate with Database
    Revise & Simplify Stylization
-->
<template name="newProject">
  <div class="new-container" style="padding: 20px">
    <h2><strong>New Project</strong></h2>
      <form class="newProject" style="padding: 20px;">
        <div style="padding-bottom: 10px;">
          <div>
            <label>Project Name:</label>
              <input type="text" name="name" placeholder="Project Name" />
              <br />
          </div>
          <div>
            <label>Supervisor Name:</label>
              <select id="supervisor">
                {{#each user in users}}
                  {{#if isSupervisor user.profile.position}}
                    <option value="{{user._id}}">{{user.profile.firstName}} {{user.profile.lastName}}</option>
                  {{/if}}
                {{/each}}
              </select>
              <br />
          </div>
          <div>
            <label>Client Name:</label> 
              <input type="text" name="client" placeholder="Client Name" />
              <br />
          </div>
          <div>
            <label>Budget:</label> 
              <input type="number" name="budget" placeholder="Budget" />
              <br />
          </div>
          <a href="#" class="back"><input type="button" name="back" value="Cancel"></a>
          <input type="reset" value="Clear">
          <input type="submit" name="submit" value="Add New Project">
        </div>
      </form>
    </div>
</template>