<template name="newTimesheet">
  <div class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Add New Timesheet</h4>
        </div>

        <div class="modal-body">
          <div style="padding-bottom: 10px;">
            <div>
              <label>Date:</label>
                <input type="date" id="date" />
                <br />
            </div>
            <div>
              <label>Project Name:</label>
                <select id="project">
                  {{#each projects}}
                    {{#if isMember _id}}
                      <option value="{{_id}}">
                        {{name}}
                      </option>
                    {{/if}}
                  {{/each}}
                </select>
                <br />
            </div>
            <div>
              <label>Start Time:</label> 
              	<input type="text" id="startTime" placeholder="HH:mm" />
                <br />
            </div>
            <div>
              <label>End Time:</label> 
              	<input type="text" id="endTime" placeholder="HH:mm" />
                <br />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="button" id="back" value="Cancel">
          <input type="reset" id="clear" value="Clear">
          <input type="submit" id="submit" value="{{isNew}}">
        </div>

      </div>
    </div>
  </div>
</template>