<template name="newProject">
  <div class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 500px">

        <div class="modal-header">
          <h4 class="modal-title">{{isNew}}</h4>
        </div>

        <div class="modal-body">
          <div style="padding-bottom: 10px;">
            <div>
              <label>Project Name:</label>
                <input type="text" id="projectName" placeholder="Project Name" value={{project.name}} />
                <br />
            </div>
            <div>
              <label>Supervisor Name:</label>
                <select id="supervisor">
                  {{#each user in users}}
                    {{#if isSupervisor user.profile.position}}
                      <option value="{{user._id}}" {{isEdit user._id}}>
                        {{user.profile.firstName}} {{user.profile.lastName}}
                      </option>
                    {{/if}}
                  {{/each}}
                </select>
                <br />
            </div>
            <div style="display:inline-block;">
              <!-- box 1-->
              <div style="display:inline-block;"><label>Addable employees:</label><br>
              <select multiple class="employee" id="employee" name="my-select[]" size="10">
                {{#each user in users}}
                  <option value="{{user._id}}" {{isEdit user._id}}>
                    {{user.profile.firstName}} {{user.profile.lastName}}
                  </option>
                {{/each}}
              </select>
            </div>
            <button class="add_employee_field"> add </button>
            <!-- <button class="remove_employee_field"> remove </button> -->
              <!-- box 2 -->
              <div style="display:inline-block;"><label>Employees in project:</label><br>
              <select multiple="multiple2"  class="selected_employees" id="selected_employees" name="my-select2[]" size="10">
                {{#each user in project.employees}}
                  <option value="{{user}}" selected>
                    {{getProjectEmployee user}}
                  </option>
                {{/each}}
              </select>
            </div>
            <br>
            </div>
            <div>
              <label>Client Name:</label> 
                <input type="text" id="client" placeholder="Client Name" value={{project.client}} />
                <br />
            </div>
            <div>
              <label>Budget:</label> 
                <input type="number" id="budget" placeholder="Budget" value={{project.budget}} />
                <br />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <input type="button" id="back" value="Cancel">
          <input type="reset" id="clear" value="Clear">
          <input type="submit" id="submit" value="{{isNew}}">
        </div>

      </div>
    </div>
  </div>
</template>
